@import "./variables.scss";
@import '~font-awesome/css/font-awesome.min.css';

html {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}

.el-menu-item-group {
  .fa {
    vertical-align: baseline;
    margin-right: 10px;
  }
}

.el-menu-item-group__title {
  color: $lightBlue;
  font-size: 15px;
}

.el-table {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  border: 0;

  th > .cell {
    color: lighten($dark-grey, 10);
  }
}

.el-table__fixed,
.el-table__fixed-right {
  z-index: 1;
}

td.pointer:hover {
  cursor: pointer;
}

.top-bar {
  .el-submenu {
    .el-submenu__title {
      height: 50px;
      line-height: 52px;
      color: $dark-grey;
      position: relative;
      left: 15px;

      &:hover {
        background-color: transparent;
      }
    }

    .el-submenu__icon-arrow {
      color: $dark-grey;
      margin-left: 10px;
      margin-top: -1px;
    }
  }
}
