@import "./variables.scss";
@import '~font-awesome/css/font-awesome.min.css';

html {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}

.fa {
  vertical-align: baseline;
  margin-right: 10px;
}

.el-menu-item-group__title {
  color: $lightBlue;
  font-size: 15px;
}
